html { 
  background: url(https://saveourschoolsnz.files.wordpress.com/2014/05/pencil-heart.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 opacity: 0.8;
    filter: alpha(opacity=40);
}
}